<!DOCTYPE html>
<html>
    <% include templates/header.ejs%>
<head>
    <title>About</title>
    <% include templates/head.ejs%>
</head>
<body>

This site helps to host "Svoya igra".<br/>
Basically, we offer a managable table for one game of "Svoya igra". <br/>
Host can add/delete player, change score. He can cancel addition and reset game state.<br/>
We provide special opportunity for players: they can watch game state online in real time.<br/>
And have access for score history.<br/>


<% include templates/footer.ejs%>

</body>
</html>