<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <% include templates/head.ejs%>
</head>
<body>

<br>This site helps to host "Svoya igra".</br>
<br>Basically, we offer a managable table for one game of "Svoya igra". </br>
<br>Host can add/delete player, change score. He can cancel addition and reset game state.</br>
<br>We provide special opportunity for players: they can watch game state online in real time.</br>
<br>And have access for score history.


<% include templates/footer.ejs%>

</body>
</html>