<script> function updateLabel() {
        document.getElementById("myLabel").innerHTML = parseInt(document.getElementById("myLabel").innerHTML) + 1;
}</script>

<label id="myLabel">0</label>
<button onclick="updateLabel()">Click me</button>