<!DOCTYPE html>
<html>
    <% include templates/header.ejs%>
<head>
    <title>En Taro Heroku</title>
    <% include templates/head.ejs%>
</head>
<body>
Hello <mark>world!</mark>

<button type="button" class="btn btn-default">Default</button>

<% include templates/footer.ejs%>

</body>
</html>