<!DOCTYPE html>
<html>
<% include templates/header.ejs%>
<head>
    <title>Play</title>
    <% include templates/head.ejs%>
</head>
<body>

<script>

</script>
<div id="player">Valera <%= player%></div>
<label id="playScore">0</label>
<button type="button" class="btn btn-default" class="btn btn-primary btn-xs">-10</button>
<button type="button" class="btn btn-default" class="btn btn-primary btn-xs">+10</button>



<% include templates/footer.ejs%>

</body>
</html>