<!DOCTYPE html>
<html>
<% include templates/header.ejs%>
<head>
    <title>Table</title>
    <% include templates/head.ejs%>
</head>
<body>

<div>Valera</div>

<button type="button" class="btn btn-default" class="btn btn-primary btn-xs">-10</button>
<button type="button" class="btn btn-default" class="btn btn-primary btn-xs">+10</button>



<% include templates/footer.ejs%>

</body>
</html>