<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<!DOCTYPE html>
<html>
<% include templates/header.ejs %>
<head>
    <title>Play</title>
    <% include templates/head.ejs %>
</head>
<body>

<script>
    $("document").ready(function () {
        var callback = function (data) {
            console.log("callback");
            $('#playScore').html(data);
        };

        function changePlus10(player) {
            console.log("changePlus10");
            $.get('/play', {
                playerId: player.id,
                change: $('#plus10').text(),
                score: $('#playScore').text()
            }, callback);
        };

        function changeMinus10(player) {
            console.log("changeMinus10");
            $.get('/play', {
                playerId: player.id,
                change: $('#minus10').text(),
                score: $('#playScore').text()
            }, callback);
        };


    });
</script>

<div id="player"><%= game.players[0].name %></div>
<label id="playScore"><%= game.players[0].score%></label>

<button id="plus10" type="button" class="btn btn-default" class="btn btn-primary btn-xs" onclick="changePlus10(<%=game.players[0].id%>)">-10</button>
<button id="minus10" type="button" class="btn btn-default" class="btn btn-primary btn-xs" onclick="changeMinus10(<%=game.players[0].id%>)">+10</button>

<% include templates/footer.ejs %>

</body>
</html>

<!--
 $("document").ready(function () {
        var callback = function (data) {
            console.log("callback");
            $('#playScore').html(data);
        };

        $("#plus10").click(function () {
            console.log("Plus10 click");
            $.get('/play', {
                playerId: player.id,
                change: $('#plus10').text(),
                score: $('#playScore').text()
            }, callback);
        });

        $("#minus10").click(function () {
            console.log("Minus10 click");
            $.get('/play', {
                playerId: player.id,
                change: $('#minus10').text(),
                score: $('#playScore').text()
            }, callback);
        });
    });

    -->