<!DOCTYPE html>
<html>
    <% include templates/header.ejs%>
<head>
    <title>Table</title>
    <% include templates/head.ejs%>
</head>
<body>

<button type="button" class="btn btn-lg btn-primary" disabled="disabled">Disabled Primary button</button>
<button type="button" class="btn btn-default" class="btn btn-primary btn-xs">Default</button>
<button type="button" class="btn btn-primary" class="btn btn-primary btn-sm">Primary</button>
<button type="button" class="btn btn-success" class="btn btn-primary btn-md">Success</button>
<button type="button" class="btn btn-info" class="btn btn-primary btn-lg">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-link">Link</button>

<% include templates/footer.ejs%>

</body>
</html>