<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<!DOCTYPE html>
<html>
<% include templates/header.ejs %>
<head>
    <title>Watch</title>
    <% include templates/head.ejs %>
</head>
<body>

<div id="player"><%= game.players[0].name %></div>
<label id="playScore"><%= game.players[0].score%></label>

<% include templates/footer.ejs %>

</body>
</html>