<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <% include templates/head.ejs%>
</head>
<body>

This site helps to host "Svoya igra".
Basically, we offer a managable table for one game of "Svoya igra".
Host can add/delete player, change score. He can cancel addition and reset game state.
We provide special opportunity for players: they can watch game state online in real time.
And have access for score history.


<% include templates/footer.ejs%>

</body>
</html>